<nav>
  <h1 class="nav_h1">
    <%= @reading_list.name.upcase %>
  </h1>
  <ul>
    <li>
      <a href="/reading_lists/<%= @reading_list.id %>/edit" class="header">EDIT LIST</a>
    </li>
    <li>
      <a href="/books/" class="header">VIEW ALL BOOKS</a>
    </li>
  </ul>
</nav>
<div class="container">
  <% @books.each do |book| %>
    <h1>
      <a href="/books/<%= book.id %>"><%= book.title %></a>
    </h1>
    <h2>
      <%= book.author %>
    </h2>
    <p class="read_status">
      <%if book.read_status == true %>
        read
      <% else %>
        unread
      <% end %>
    </p>
  <% end %>
</div>
