<nav>
  <h1>
    <%= @reading_list.name.upcase %>
  </h1>
  <a href="/reading_lists/<%= @reading_list.id %>/edit">EDIT LIST</a>
  <a href="/books/">VIEW ALL BOOKS</a>
</nav>
<div class="container">
  <% @books.each do |book| %>
    <h1>
      <a href="/books/<%= book.id %>"><%= book.title %></a> -
    </h1>
    <h2>
      <%= book.author %>
    </h2>
    <p class="read_status">
      <%if book.read_status == true %>
        read
      <% else %>
        unread
      <% end %>
    </p>
  <% end %>
</div>
