<div class="container">
  <%= form_for @book do |f| %>
      <%= f.label "Title:" %>
      <%= f.text_field :title %>
      <%= f.label "Author:" %>
      <%= f.text_field :author %>
      <%= radio_button_tag(:read_status, true) %>
      <%= label_tag(:read_status, "read") %>
      <%= radio_button_tag(:read_status, false) %>
      <%= label_tag(:read_status, "unread") %>
      <br />
      <%= f.label "Genre:" %>
      <%= f.text_field :genre %>
      <%= f.label "Add to reading list:" %>
      <br />
      <%= f.collection_select(:reading_list_id, ReadingList.all, :id, :name, prompt: true ) %>
      <%= f.submit value: "#{button_text}", class: "new_button"%>
  <% end %>
</div>
