<% @books.each do |b| %>
<p>
  <a href="/books/<%= b.id %>"><%= b.title %></a>
  <%= b.author %>
  <%= b.read_status %>
  <%= b.genre %>
</p>
<%= button_to "Delete", "/books/#{b.id}",  method: :delete, data: { confirm: "Are you sure you want to delete this book?" } , class: 'x-button' %>
<% end %>
<p>
  <a href="books/new">Add new book</a>
</p>
