<div class="container">
  <%= form_for @book do |f| %>
      <%= f.label "Title:" %>
      <%= f.text_field :title, :required => true %>
      <%= f.label "Author:" %>
      <%= f.text_field :author, :required => true %>
      <% if @book.read_status == true %>
        <%= radio_button_tag(:read_status, true, required: 'required') %>
        <%= label_tag(:read_status, "read") %>
        <%= radio_button_tag(:read_status, false) %>
        <%= label_tag(:read_status, "unread") %>
      <% else %>
        <%= radio_button_tag(:read_status, true) %>
        <%= label_tag(:read_status, "read") %>
        <%= radio_button_tag(:read_status, false, required: 'required') %>
        <%= label_tag(:read_status, "unread") %>
      <% end %>
      <br />
      <%= f.label "Rating:" %>
      <%= f.select :rating, ["None", "1 - worst", "2", "3", "4", "5 - best"], :selected => @book.rating %>
      <%= f.label "Genre:" %>
      <%= f.text_field :genre %>
      <%= f.label "Choose reading list:" %>
      <br />
      <%= f.collection_select(:reading_list_id, ReadingList.all, :id, :name, prompt: true ) %>
      <%= f.submit value: "#{button_text}", class: "new_button"%>
  <% end %>
</div>
