<nav>
  <h1 class="nav_h1">
    <%= @book.title.upcase %>
  </h1>
  <ul>
    <li>
      <a href="/books/<%= @book.id %>/edit" class="header">EDIT BOOK</a>
    </li>
    <li>
      <a href="/reading_lists/" class="header">VIEW READING LISTS</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h1><%= @book.title %></h1>
  <h2><%= @book.author %></h2>
  <p>
    Genre: <%= @book.genre %>
  </p>
  <p>
    Rating: <%= @book.rating ? "#{@book.rating} out of 5" : "none"  %>
  </p>
  <% if @book.read_status == true %>
    <p class="read_status">
      read
    </p>
  <% else %>
    <p class="read_status">
      unread
    </p>
  <% end %>
  <div class="side-padded-container">
    <h2>Reviews</h2>
      <% if @book.reviews != [] %>
        <% @book.reviews.each do |review| %>
          <div class="lesser-container">
            <p><%= review.body %></p>
            <div class="float-left"> by <%= review.reviewer %></div>
            <div class="float-right"><%= localize(review.created_at,  :format => :standard) %></div>
          </div>
        <% end %>
      <% else %>
        <div class="lesser-container">
          <p>There are currently no reviews for this book.</p>
        </div>
      <% end %>
    <div class="top-and-bottom-padded-container">
      <%= link_to "Add a Review", new_book_review_path(@book), class: "new_button bit-of-side-pad" %>
    </div>
  </div>
</div>
