<div class="container">
  <%= form_for @review, url: book_reviews_path(@book.id) do |f| %>
      <div>
        <%= f.label "Tell us about the book:" %>
        <div>
          <%= f.text_area(:body, cols: 25, rows: 5, class: "text-area")%>
        </div>
      </div>
      <div>
        <%= f.label "Your name:" %>
        <div>
          <%= f.text_field :reviewer %>
        </div>
      </div>
      <%= f.submit value: "#{button_text}", class: "new_button"%>
  <% end %>
</div>
